* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


*::selection {
    color: white;
    background-color: black;
}

*::-webkit-scrollbar {
    display: none;
}

#page1 {
    min-height: 100vh;
    width: 100%;
    position: relative;
    padding: 0vh 0vw;
    position: relative;
    display: flex;
}

#page1 h1 {
    font-size: 16vw;
    text-transform: uppercase;
    font-family: futura; 
    line-height: 14vw;
    letter-spacing: -10px;
    text-align: center;
    height: 100%;
    width: 100%;
    margin: 20% 0vw;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    color: rgb(235, 235, 235);
    transition: -webkit-text-stroke-color 1s;
}

#page1 h1:hover {
    
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: rgb(231, 231, 231);
}


#page1 video {
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: absolute;
    z-index: -1;
}