#page2 {
    >p {
        text-align: center;
        font-size: 5vh;
        background-color: black;
        color: white;
        padding: 1vw;
        margin-bottom: 2vw;
    }
}

#team {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 3vw;
}

#members {
    background-color: rgb(244, 244, 244);
    padding: 5vh 8vh;
    border: 1px solid wheat;
    border-radius: 10vh;
    margin-bottom: 3vh;
    margin-right: 10px;
    >img {
        border-radius: 10%;
        height: 30vh;
        width: 30vh;
        margin-bottom: 1vw;
    }
    >p {
        margin: 0.5vw auto;
        text-align: center;
        font-size: 1.2vw;
    }
}